<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <parameter name="browserName" value="chrome"></parameter>
    <listeners>
        <listener class-name="DepFuncts.ListenerImplementations"></listener>
    </listeners>
    <test name="Regression1_Firefox">
        <classes>
            <class name="AllTests.AllSearchedPropertiesTest"/>
        </classes>
    </test>
</suite>
